// header
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
}

.privacy-cookies {
	background-color: $brandColor;
	padding: 12px;
	text-align: center;
	font-size: 12px;
	p {
		display: inline-block;
		a {
			font-weight: 700;
			color: $blueColor;
		}
		span {
			cursor: pointer;
			font-weight: 700;
			color: $blueColor;
		}
	}
}

.nav-bar {
	@include flex-init;
	justify-content: space-between;
	height: 35px;
	margin: 20px 0;
	font-size: 14px;
	font-weight: 700;
	.nav-left {
		img {
			width: 110px;
			height: 35px;
		}
	}
	.nav-right {
		> ul {
			@include flex-init;
			list-style: none;
			> li {
				margin: 10px;
				> a {
					transition: color 1s;
				}
				&:hover > a {
					color: $blueColor;
				}
			}
			.solutions {
				position: relative;
				margin: 0;
				padding: 10px;
				> a {
					i {
						margin: 0 0 0 5px;
					}
				}
				ul {
					display: none;
					position: absolute;
					top: 35px;
					left: 8px;
					// border: 1px solid black;
					box-shadow: 0px 0px 10px -2px rgba(31, 14, 31, 1);
					border-radius: 5px;
					list-style: none;
					background-color: #ffffff;
					li {
						margin: 10px;
						&:hover > a {
							color: $blueColor;
						}
					}
				}
			}
			.solutions:hover ul {
				display: inline-block;
			}
			.sign-up {
				margin: 10px 0 10px 10px;
				> a {
					@include button-init;
					transition: all 0.6s;
					background-color: #ffffff;
					color: $blueColor;
					svg {
						width: 18px;
						height: 18px;
						margin: 0 5px 0 0;
						vertical-align: text-bottom;
						.google_icon {
							transition: all 0.6s;
						}
					}
				}
				&:hover > a {
					background-color: $blueColor;
					color: #ffffff;
					.google_icon {
						fill: #ffffff;
					}
				}
			}
			.hamburger {
				display: none;
				font-size: 30px;
			}
		}
	}
}

.line {
	width: 100%;
	height: 2px;
	background-color: #bdb5af;
}

@media screen and (max-width: 768px) {
	.nav-bar {
		.nav-right {
			ul {
				li {
					display: none;
				}
				.hamburger {
					display: inline-block;
				}
			}
		}
	}
}
