// main
.jumbotron {
	@include flex-init;
	margin: 214px auto 100px auto;
	.left {
		h1 {
			margin: 0 0 30px 0;
			font-size: 50px;
			line-height: 1.4;
		}
		p {
			margin: 0 0 40px 0;
			font-size: 22px;
		}
		.buttons {
			margin: 0 0 30px 0;
			font-size: 14px;
			a {
				@include button-init;
				transition: background-color 0.6s;
				&:hover {
					background-color: $blueDarkerColor;
				}
				img {
					width: 18px;
					height: 18px;
					margin: 0 10px 0 0;
					vertical-align: middle;
				}
			}
			span {
				display: inline-block;
				margin: 0 15px;
			}
		}
	}
	.right {
		margin: 0 0 0 20px;
		img {
			width: 550px;
		}
	}
}

.four-layout {
	background-color: $brandColor;
	text-align: center;
	.container {
		h2 {
			max-width: 600px;
			margin: auto;
			padding: 60px 0 40px 0;
			font-size: 26px;
		}
	}
	.container > div {
		@include flex-init;
		justify-content: center;
		.wrapper {
			margin: 20px 50px;
			img {
				height: 100px;
			}
			p {
				margin: 20px 0 0 0;
				font-size: 18px;
			}
		}
	}
	.container > img {
		max-width: 280px;
		margin: 40px 20px 60px 20px;
	}
}

@media screen and (max-width: 1200px) {
	.jumbotron {
		flex-direction: column;
		text-align: center;
		.left {
			max-width: 680px;
		}
		.right {
			margin: 0;
			img {
				max-width: 550px;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.four-layout {
		.container > div {
			.wrapper {
				margin: 20px 30px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.jumbotron {
		.left {
			h1 {
				line-height: 1.2;
			}
			p {
				font-size: 18px;
			}
		}
	}

	.four-layout {
		.container > div {
			display: block;
			.wrapper {
				margin: 30px 20px;
				img {
					width: 140px;
				}
			}
		}
		.container > img {
			margin: 0;
			margin: 30px 0 40px 0;
		}
	}
}

@media screen and (max-width: 576px) {
	.jumbotron {
		.left {
			.buttons {
				a,
				span {
					display: block;
				}
				span {
					margin: 10px 0;
				}
			}
		}
	}
}
