// mixin
@mixin flex-init {
	display: flex;
	align-items: center;
}

@mixin button-init {
	border: 1px solid $blueColor;
	border-radius: 5px;
	padding: 10px;
	background-color: $blueColor;
	color: #ffffff;
}

@mixin position-fixed-init($top, $left) {
	position: fixed;
	top: $top;
	left: $left;
}

@mixin position-absolute-init($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}
